@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-Black.eot');
    src: url('../fonts/raleway-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-Black.woff2') format('woff2'),
        url('../fonts/raleway-Black.woff') format('woff'),
        url('../fonts/raleway-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-BlackItalic.eot');
    src: url('../fonts/raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-BlackItalic.woff2') format('woff2'),
        url('../fonts/raleway-BlackItalic.woff') format('woff'),
        url('../fonts/raleway-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-Bold.eot');
    src: url('../fonts/raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-Bold.woff2') format('woff2'),
        url('../fonts/raleway-Bold.woff') format('woff'),
        url('../fonts/raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-BoldItalic.eot');
    src: url('../fonts/raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-BoldItalic.woff2') format('woff2'),
        url('../fonts/raleway-BoldItalic.woff') format('woff'),
        url('../fonts/raleway-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-ExtraBold.eot');
    src: url('../fonts/raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/raleway-ExtraBold.woff') format('woff'),
        url('../fonts/raleway-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-ExtraBoldItalic.eot');
    src: url('../fonts/raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/raleway-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/raleway-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-ExtraLight.eot');
    src: url('../fonts/raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-ExtraLight.woff2') format('woff2'),
        url('../fonts/raleway-ExtraLight.woff') format('woff'),
        url('../fonts/raleway-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-ExtraLightItalic.eot');
    src: url('../fonts/raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/raleway-ExtraLightItalic.woff') format('woff'),
        url('../fonts/raleway-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-Italic.eot');
    src: url('../fonts/raleway-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-Italic.woff2') format('woff2'),
        url('../fonts/raleway-Italic.woff') format('woff'),
        url('../fonts/raleway-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-Light.eot');
    src: url('../fonts/raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-Light.woff2') format('woff2'),
        url('../fonts/raleway-Light.woff') format('woff'),
        url('../fonts/raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-Medium.eot');
    src: url('../fonts/raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-Medium.woff2') format('woff2'),
        url('../fonts/raleway-Medium.woff') format('woff'),
        url('../fonts/raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-LightItalic.eot');
    src: url('../fonts/raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-LightItalic.woff2') format('woff2'),
        url('../fonts/raleway-LightItalic.woff') format('woff'),
        url('../fonts/raleway-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-MediumItalic.eot');
    src: url('../fonts/raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-MediumItalic.woff2') format('woff2'),
        url('../fonts/raleway-MediumItalic.woff') format('woff'),
        url('../fonts/raleway-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-Thin.eot');
    src: url('../fonts/raleway-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-Thin.woff2') format('woff2'),
        url('../fonts/raleway-Thin.woff') format('woff'),
        url('../fonts/raleway-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-SemiBold.eot');
    src: url('../fonts/raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/raleway-SemiBold.woff') format('woff'),
        url('../fonts/raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-SemiBoldItalic.eot');
    src: url('../fonts/raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/raleway-SemiBoldItalic.woff') format('woff'),
        url('../fonts/raleway-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-Regular.eot');
    src: url('../fonts/raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-Regular.woff2') format('woff2'),
        url('../fonts/raleway-Regular.woff') format('woff'),
        url('../fonts/raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-ThinItalic.eot');
    src: url('../fonts/raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-ThinItalic.woff2') format('woff2'),
        url('../fonts/raleway-ThinItalic.woff') format('woff'),
        url('../fonts/raleway-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

