*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	outline:none;
}

:root{
	--black-color: 0, 0, 0;
	--secondary-color:#151515;
	--dark-color:#000000;
	--button-color:#ff0066;
	--grey-color:#ffffffbf;
	--btnhover-color:#d01498;
	--white-color:#ffffff;
	--text-light: #9aa7af;
	--text-medium:#a7a7a7;
	--text-dark:#cccccc;
	--icon-color: #7f7f7f;
	--text-hover:#73a2e8;
	--border-color:#1a67da;
	--bgcolor1:#2735b5;
	--bgcolor2:#3985bd;
	--bgcolor3:#252525;
	--bgcolor4:#d03758;
	--bgcolor5:#6cd087;
	--bgcolor6:#3985bd;
}

.xs-1, .xs-2, .xs-3, .xs-4, .xs-5, .xs-6, .xs-7, .xs-8, .xs-9, .xs-10, .xs-11, .xs-12, 
.sm-1, .sm-2, .sm-3, .sm-4, .sm-5, .sm-6, .sm-7, .sm-8, .sm-9, .sm-10, .sm-11, .sm-12, 
.md-1, .md-2, .md-3, .md-4, .md-5, .md-6, .md-7, .md-8, .md-9, .md-10, .md-11, .md-12, 
.lg-1, .lg-2, .lg-3, .lg-4, .lg-5, .lg-6, .lg-7, .lg-8, .lg-9, .lg-10, .lg-11, .lg-12, 
.xl-1, .xl-2, .xl-3, .xl-4, .xl-5, .xl-6, .xl-7, .xl-8, .xl-9, .xl-10, .xl-11, .xl-12{
	position:relative;
	padding:12px;
}

body{
	font-family: 'Poppins';
	font-family: 'Raleway';
	font-family: 'Montserrat';
}

ul,ol{
	list-style:none;
}

a{
	text-decoration:none;
	color:white;
}

::selection{
	background:rgb(238,44,130);
	color:var(--white-color);
}

.container{
	max-width:1140px;
	margin:0 auto;
	padding-left:12px;
	padding-right:12px;
}

.row{
	display:flex;
	flex-wrap:wrap;
	margin-left:-12px;
	margin-right:-12px;
}

.d-flex{
	display:flex;
	flex-wrap:wrap;
}

.d-block{
	display:block;
}

.p-0{
	padding:0;
}

.p-40{
	padding:40px 0px;
}

.m-0{
	margin:0;
}

.justify-content-center{
	justify-content:center;
}

.justify-content-between{
	justify-content:space-between;
}

.justify-content-end{
	justify-content:flex-end;
}

.justify-content-start{
	justify-content:flex-start;
}

.align-start{
	align-items:start;
}

.align-center{
	align-items:center;
}

.text-center{
	text-align:center;
}

.text-left{
	text-align:left;
}

.text-right{
	text-align:right;
}

.commonparagraph{
	color:var(--text-light);
	text-align:center;
	font-size:17px;
	font-family: 'Raleway';
	font-weight:500;
	padding-top:20px;
}

.commonh2{
	font-size:35px;
	color:white;
	font-family: 'Raleway';
	font-weight:600;
	text-align:center;
	
}


/* top header */

.top-header{
	width:100%;
	background-color:rgba(var(--black-color), 1);
	padding:10px 30px 10px 30px;
	border-bottom:1px solid rgba(253, 250, 251, 0.1);
}

.top-header p{
	color:white;
	font-size:17px;
	font-family: 'Raleway';
	font-weight:500;
}

.top-header ul a{
	padding-left:20px;
	opacity:0.7;
	transition:all 0.5s;
}

.top-header ul a:last-child{
	opacity:1;
}

.top-header ul a:hover{
	opacity:1;
}

.button-nft{
	padding:13px 25px;
	background-image: linear-gradient(to right, #D01498, #647ECB, #647ECB, #D01498);
	background-size: 300% 100%;
	border:none;
	border-radius:5px;
	color:white;
	font-weight:500;
}

.button-nft:hover{
	background-position: 100% 0;
	transition:all .4s ease-in-out;
}

/* header */

.header{
	width:100%;
	position:relative;
	background-color:rgba(var(--black-color), 1);
	padding:10px;
}

.header ul a{
	padding-left:30px;
	font-family: 'Raleway';
	line-height:70px;
	font-weight:500;
	transition:all 0.5s;
}

.header ul a:hover{
	color:var(--text-dark);
}

.toggle-menu{
	width:40px;
	height:40px;
	color:white;
	background-color:transparent;
	border:none;
}

.toggle-menu i{
	font-size:20px;
}

/* dropdown */


.header ul.dropdown{
	width:200px;
	display:none;
	position:absolute;
	background-color:var(--white-color);
	border:1px solid white;
	box-shadow: 0 9px 10px rgb(0 0 0 / 0.5);
	top:105px;
	z-index:9999;
	transform:scale(0.5);
	transition:all 1s;
	animation:zoom-out 1s ease;
}

@keyframes zoom-out{
  from{
    transform:scale(0);
  }
  to{
    transform:scale(1.1);
  }
}

.dropdown33{
	width:33.3333%;
}

.header ul.dropdown:before{
	position:absolute;
	content:'';
    top:-5px;
    left:50px;
    height:15px;
    width:15px;
    transform:rotate(45deg);
    background-color:#fff;
}

.header ul.dropdown li a{
	font-size:14px;
	font-weight:200px;
	line-height:50px;
	padding:0px 15px;
	color:black;
	border-bottom:1px solid var(--text-medium);
	transition:all 1s;
}

.header ul.dropdown li a:hover{
	color:#0693e3;
}

.header ul.dropdown li:last-child a{
	border:none;
}

.header ul.dropdown li a:hover{
	background-color:var(--white-color);
}
 
.header ul > li:hover ul.dropdown{
	display:block;
	transform:scale(1.1);
}

/* 3 col dropdown */
.home li{
	padding:10px;
	font-size:13px;
	font-family:'Raleway';
}

.home li:hover{
	color:var(--text-hover);
}
.menu-1{
	width:calc(33.3333% - 10px);
	padding:20px;
	margin:0 5px;
	box-shadow:0px 10px 10px rgb(0 0 0 / 0.1);
	transition:all 0.5s;
}

.menu-1:hover{
	transform:translatey(-2px);
}

.menu-1 img{
	height:40px;
	border-radius:50%;
	margin-right:10px;
	transition:all 0.5s;
}

.menu-1 img:hover{
	transform:translatey(-5px);
}

.header ul.dropdown1{
	width:800px;
	display:none;
	padding:10px;
	position:absolute;
	background-color:var(--white-color);
	border:1px solid white;
	box-shadow: 0 9px 10px rgb(0 0 0 / 0.5);
	top:105px;
	z-index:9999;
	transform:scale(0.5);
	transition:all 1s;
	animation:zoom-out 1s ease;
}

@keyframes zoom-out{
  from{
    transform:scale(0);
  }
  to{
    transform:scale(1.1);
  }
}

.header ul.dropdown1:before{ 
	position:absolute; 
	content:''; 
	top:-5px; 
	left:50px;
	height:15px; 
    width:15px; 
    transform:rotate(45deg); 
    background-color:#fff; 
 }

.info h4{
	font-family:'Raleway';
	font-weight:600;
	font-size:16px;
	transition:all 0.5s;
}

.info h4:hover{
	color:var(--text-hover);
}

.info p{
	font-family:'Raleway';
	font-size:13px;
}
.header ul > li:hover ul.dropdown1{
	display:block;
	transform:scale(1.1);
}

.no{
	font-size:30px;
	font-weight:600;
	opacity:0.1;
}


/* banner */

.red{
	width:10px;
	height:0px;
	background:rgb(238,44,130);
	animation:load 4s ease-in infinite;
	position:absolute;
	left:0;
	bottom:0;
	transition:all 0.5s;
}

@keyframes load{
	from{
		height:0%;
	}
	
	to{
		height:100%;
	}
}


.banner{
	width:100%;
	height:100vh;
	padding:100px 0;
	background-image:url(../images/1.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
}

.boxleft{
	padding:30px;
	width:40%;
	max-width:340px;
    max-height:590px;
	left:0;
	top:100px;
}

.box33{
	width:100%;
	height:100%;
	padding:20px 25px;
	margin-bottom:40px;
}

.box33 span{
	display:block;
	background:rgba(255,255,255,0.5);
	width:186px;
	height:2px;
}

.box33 h4{
	margin-top:15px;
	margin-bottom:5px;
	color: rgba(255,255,255,0.5);
	font-family: 'Montserrat';
	font-size:20px;
	font-weight:700;
}

.box33 p{
	color: rgba(255,255,255,0.5);
    font-weight: 500;
	font-family: 'Montserrat';
    font-size: 17px;
}

.box33:hover{
	background-color:rgba(255,255,255,0.1);
	width:280px;
    height:170px;
	padding:20px 25px;
}

.box33:hover span{
	background:#ff0066;
}

.box33:hover h4{
	color:#ffffff;
}

.box33:hover p{
	color: rgba(255,255,255,0.7);
}

.concept{
	width:40%; 
	padding:100px 100px 0px 0px;
}

.concept h1{
	font-size:50px;
	font-weight:600;
	text-align:left;
	font-family: 'Montserrat';
	line-height:50px;
	color:white;
}

.concept p{
	color:white;
	font-size:18px;
	padding-top:30px; 
	font-family: 'Montserrat';
	color:var(--grey-color);
	font-weight:400;
	line-height:25px;
}

.concept .read{
	padding:10px 15px;
	color:white;
	margin-top:20px;
	font-family: 'Montserrat';
	font-weight:600;
	font-size:13px;
	background-color:var(--button-color);
	border:none;
	box-shadow:rgb(255, 0, 102) 0px 0px 60px 0px;
	transition:all 0.5s;
}

.concept .read:hover{
	background-color:rgb(95, 5, 56);
}

/* things to know */

.things{
	background-color:var(--secondary-color);
	padding:100px 0;
}

.line{
	width:50%;
	height:4px;
	margin:15px 0;
	background-image:url(../images/line.png);
	background-repeat:no-repeat;
}

.line1{
	height:4px;
	margin:15px 0px;
	background-image:url(../images/line.png);
	background-repeat:no-repeat;
	background-position:center;
}

.box{
	padding:50px 0px;
}

.box30{
	/* width:calc(33.3333% - 20px); */
	padding:20px 15px;
	/* margin:0px 10px; */
}

.box30 h4{
	font-size:20px;
	color:var(--white-color);
	font-weight:600;
	padding:10px 0;
	text-align:left;
}

.box30 p{
	color:var(--text-light);
	font-size:16px;
	width:100%;
	font-family: 'Raleway';
	font-weight:500;
}

/* about */

.about{
	background-color:var(--secondary-color);
	padding:60px 20px;
}


.box50{
	/* width:50%; */
	padding:50px 25px;
}

.box50 h2{
	font-size:30px;
	font-weight:600;
	font-family: 'Raleway';
	color:var(--white-color);
}

.box50p{
	font-size:16px;
	font-weight:500;
	font-family: 'Raleway';
	color:var(--text-light);
	padding-top:10px;
	padding-bottom:30px;
}

.findbtn{
	background:var(--button-color);
	padding:15px 35px;
	border:none;
	font-family: 'Raleway';
	font-weight:500;
	font-size:16px;
	border-radius:5px;
	transition:all 0.5s;
}

.findbtn:hover{
	background:var(--btnhover-color);
}

.img{
	padding:120px 15px;
	/* width:50%; */
	background-image:url(../images/video.jpg);
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}

.icon{
	transition:all 0.5s;
}

.icon:hover{
	transform:scale(1.2);
}

/* virtual reality */

.reality{
	padding:60px 20px;
	background:var(--secondary-color);
}

.border-bottom{
	border-bottom:1px solid var(--border-color);
	border-top:1px solid var(--border-color);
	padding:100px 0;
}

.clippath{
	width:400px;
	height:500px;
	object-fit:cover;
}

.clippath1{
	width:100%;
}

.b50img img{
	width:100%;
}

.b50{
	/* width:50%; */
	padding:100px 20px;
}

.b50 h2{
	color:var(--white-color);
	font-size:30px;
	font-family: 'Raleway';
	font-weight:600;
}

/* latest news */

.news{
	background-color:var(--secondary-color);
	padding:60px 20px;
}

.b30{
	/* width:calc(33.3333% - 20px); */
	margin:50px 10px;
	background:var(--white-color);
	position:relative;
}
.news-img{
	position:relative;
	transition:all 1s;
}
.news-img::after{
	position:absolute;
	content:'';
	box-sizing:border-box;
	width:100%;
	height:100%;
	background-color:var(--secondary-color);
	left:0;
	opacity:0;
	transition:all 1s;
	z-index:1;
	
}
.news-img:hover::after{
	opacity:0.5;
}

.staybtn{
	position:absolute;
	width:150px;
	opacity:0;
	background-image: linear-gradient(to right, #D01498, #647ECB, #647ECB, #D01498);
	background-size: 300% 100%;
	padding:10px 20px;
	font-size:19px;
	border:none;
	border-radius:10px;
	text-align:center;
	color:var(--white-color);
	bottom:20%;
	left:28%;
	transition:all 1s;
	z-index:2;
}

.news-img:hover .staybtn{
	opacity:1;
	bottom:40%;
}

.b30 img{
	width:100%;
}

.content33{
	padding:25px 30px 10px;
	width:100%;
}

.content33 p{
	color:var(--text-light);
	font-size:13px;
	font-family:'Raleway';
	font-weight:600;
} 

.content33 h3{
	margin:10px 0;
}
.content33 h3 a{
	color:var(--black-color);
	font-size:21px;
	transition:all 0.5s;
	font-family:'Poppins';
	/* font-weight:800; */
}

.content33 h3 a:hover{
	color:var(--text-hover);
}

/* stay in touch */

.box6{
	background-color:var(--secondary-color);
	padding:60px 20px;
}

.box16{
	padding:50px 35px;
    text-align:center;
	border-radius:5px;
}

.box16 > i{
	font-size:40px;
	color:var(--white-color);
}

.box16 h3{
	margin:20px 0 10px;
	color:var(--white-color);
	font-family:'Poppins';
}

.box16 button{
	padding:8px 20px;
	border-radius:5px;
	font-size:12px;
	display:block;
	font-family:'Raleway';
	font-weight:700;
	margin:0 auto;
	border:1px solid var(--white-color);
	background-color:transparent;
	color:var(--white-color);
	transition:all 0.5s;
}

.box16 button:hover{
	background-color:black;
}

.bgcolor1{
	background:var(--bgcolor1);
}
.bgcolor2{
	background:var(--bgcolor2);
}
.bgcolor3{
	background:var(--bgcolor3);
}
.bgcolor4{
	background:var(--bgcolor4);
}
.bgcolor5{
	background:var(--bgcolor5);
}
.bgcolor6{
	background:var(--bgcolor6);
}

/* customer */

.customer{
	background-color:var(--secondary-color);
	padding:60px 20px;
}

.form{
	width:100%;
	margin-top:40px;
}

.form input{
	border-radius:3px;
	width:450px;
    height:55px;
	color:var(--white-color);
    font-size:15px;
	display:inline-block;
    float:left;
	background:transparent;
	border:1px solid #647ECB;
    padding:15px 25px;
    font-weight:500;
    margin-right:20px;
}

.form button{
	width:15%;
	background-image: linear-gradient(to right, #D01498, #647ECB, #647ECB, #D01498);
	background-size: 300% 100%;
	padding:15px;
	border-radius:5px;
	border:none;
	height:55px;
	font-family:'Raleway';
	font-weight:600;
	margin-left:5px;
	display:inline-block;
	transition:all 1s;
}

.form button:hover{
	background-position: 100% 0;
	transition:all .4s ease-in-out;
}

/* top footer */

.top-footer{
	padding:20px;
	background:var(--dark-color);
}

.b16{
	width:calc(16.66% - 40px);
	margin:0 20px;
}

.b16 img{
	width:100%;
	opacity:0.7;
	transition:all 0.5s;
}

.b16 img:hover{
	opacity:1;
}

/* footer */

.footer{
	padding:70px 15px 60px;
	background:var(--dark-color);
}

.b25{
	/* width:25%; */
	padding:0 20px;
}

.b25 h3{
	color:var(--white-color);
	margin:0px 0px 19px;
	font-size:21px;
	font-family:'Poppins';
	font-weight:800;
}

.b25 p{
	color:var(--text-dark);
	font-size:17px;
	line-height:25px;
	padding:0px 0px 20px;
}

.b25 a{
	font-size:20px;
	color:var(--icon-color);
	margin:0 5px;
	transition:all 0.5s;
}

.b25 a:hover{
	color:var(--border-color);
}

.links ul a{
	line-height:5px;
	font-size:17px;
    font-weight:400;
	color:var(--text-dark);
	font-family:'Raleway';
	margin:0px 5px 10px 0px;
    transition:all 0.5s;
}

.links ul a:hover{
	color:var(--text-medium);
}

.links i{
	font-size:15px;
	color:var(--icon-color);
	margin-right:5px;
}

.mail{
	padding:15px 10px;
	box-shadow: 0 0 25px rgb(0 0 0/10%);
	border-radius:5px;
	outline:none;
	text-transform:capitalize;
	border:none;
}

.sendbtn{
	height:50px;
	width:50px;
	border-radius:50px;
	display:inline;	
	background:white;
	margin-left:-15px;
}

.sendbtn i{
	font-size:30px;
}

/* copyright */

.copyright{
	padding:20px 0;
	background:var(--dark-color);
}

.copyright p{
	padding:7px 0;
	font-size:17px;
	font-family:'Raleway';
	color:var(--text-dark);
}

/* gobtn */

.gobtn1{
	width:50px;
    height:50px;
    line-height:50px;
    font-size:20px;
	border-radius:50%;
    background-color:var(--border-color);
    color:var(--white-color);
    text-align:center;
    position:fixed;
    bottom:20px;
    right:20px;
}

.gobtn1:hover{
	transform:scale(1.2);
}

.gobtn2{
	width:40px;
    height:40px;
    line-height:40px;
    font-size:20px;
	border-radius:10px;
    background: linear-gradient(to right, #D01498,#647ECB);
    color:var(--white-color);
    text-align:center;
    position:fixed;
    bottom:100px;
    right:40px;
	transition:all 0.5s;
}

.gobtn2:hover span::before,
.gobtn2:hover .span::before{
	opacity:1;
}

.gobtn2 span::before{
	position:absolute;
	content:'Join Our Group';
	width:130px;
	background:black;
	border-radius:5px;
	opacity:0;
	left:-55px;
	font-size:13px;
	top:-60px;
	
}

.gobtn2 .span::before{
	position:absolute;
	content:'';
	width:15px;
	height:15px;
	background:black;
	transform:rotate(45deg);
	left:13px;
	top:-30px;
	opacity:0;
}
